# Set default behavior to automatically normalize line endings.
* text=auto

# Set default behavior for command prompt diff.
# This is needed for earlier builds of msysgit that do not have it on by default
#
